__pycache__/
.nox/
.DS_Store

# Gradle project-specific cache directory
.gradle
# Gradle build output directory
/optimiser-controller/build/
# generated artefact directory
/optimiser-controller/dist/

# jdtls (Java LSP server) and/or eclipse data files
.classpath
.project
.settings/
/optimiser-controller/bin/

# IntelliJ IDEA configuration files
/.idea/

# Visual Studio Code files
/.vscode/
/.dir-locals.el
